@font-face {
  font-family: 'Bickman';
  src: url('./fonts/bickhamscriptpro-regular.otf');
}

@font-face {
  font-family: 'RNS_Camelia';
  src: url('./fonts/rns_camelia.otf');
}

.App {
  text-align: center;
  font-family: 'RNS_Camelia';

  h1, h2, h3, h4 {
    font-family: 'Bickman';
  }

  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 3rem;
  }

  h4 {
    font-size: 2rem;
  }

  nav {
    display: inline-block;
  }

  p {
    text-align: center;
  }

  .input-group-text, .btn-secondary {
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
  }

  .MuiSvgIcon-root {
    fill: rgba(0, 0, 0, .5);
  }
}