.countdown {
    position: relative;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(230, 235, 242, 0.6);
    color: white;
    width: 100%;
    font-weight: 900;
    height: 50%;
    font-size: 5vw;
}

@media only screen and (min-width: 1025px) {
    .centered {
        font-size: 4vw;
        height: 25%;
    }
}