.hotel_container {
    h1, h2, h3, h4 {
        font-family: 'RNS_Camelia';
    }

    img {
        box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
        width: 100%;
        vertical-align: middle;
    }
}
