.invite-container {
   
}

div.input-group, div.input-group-lg {
    div.input-group-prepend {
        > span.input-group-text {
            font-size: 1rem;
        }
    }
}

.error {
    border: 5px solid rgba(240, 0, 0, .5);
    border-radius: 10px;
}

.error-message {
    background-color: rgba(240, 0, 0, 0.5);
    border-radius: 10px;
    display: inline-flex;
    padding: 5px;
    font-weight: bold;
}
