.rsvp_container {
    padding: 2vw 5vw 2vw 5vw;

    .input-group-prepend {
        flex: none;
    }

    input {
        font-size: 4vw;
    }

    input[type=radio]{
        transform: scale(2) translate(-50%, 100%);
    }
}