.rsvp_container {
    .input-group-prepend {
        flex: none;
    }
}

@media only screen and (max-width: 480px) {
    .rsvp_container {
        padding: 2vw 5vw 2vw 5vw;
    
        input {
            font-size: 4vw;
        }
    
        input[type=radio]{
            transform: scale(1.5) translate(-50%, 20%);
        }
    }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
    .rsvp_container {
        padding: 2vw 5vw 2vw 5vw;
    
        input {
            font-size: 3vw;
        }
    
        input[type=radio]{
            transform: scale(1.5) translate(-50%, 20%);
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .rsvp_container {
        padding: 2vw 5vw 2vw 5vw;
    
        input {
            font-size: 4vw;
        }
    
        input[type=radio]{
            transform: scale(1.5) translate(-50%, 100%);
        }
    }
}

@media only screen and (min-width: 1024px) {
    .rsvp_container {
        padding: 2vw 5vw 2vw 5vw;
    
        input {
            font-size: 3vw;
        }
    
        input[type=radio]{
            transform: scale(1.5) translate(-50%, 100%);
        }
    }
}