- const styles={ "color": "red" }
p(style=styles) Hi #{name},
p Your RSVP for the wedding of Lauren and Jamie has been received.
p You are #{attendance} the wedding.
p If you wish to alter your RSVP please contact the couple.